<div class="movie-info"
    style="background-image: url('https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{@movie.backdrop_path}}');">
    {{#if @movie.poster_path}}
        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{@movie.poster_path}}" alt="Movie poster" />
    {{/if}}
    <div class="text-box">
        <h2>
            {{@movie.title}}
            {{#if @movie.release_date}}
                ({{year-from-date @movie.release_date}})
            {{/if}}
        </h2>
        <p class="info">
            {{#if @movie.content_rating}}
                <span class="content-rating">{{@movie.content_rating}}</span>
            {{/if}}
            <span>
                {{#each @movie.genres as |genre|}}
                    {{genre.name}},
                {{/each}}
                {{@movie.release_date}}
            </span>
        </p>
        <h3>Overview</h3>
        <p class="overview">{{@movie.overview}}</p>
        {{#if @movie.do_verification}}
            do verification
        {{/if}}
    </div>
</div>
